     /*phgwpi apps*/
 
* {
    padding: 0;
    margin: 0;
    border: 0;
}

html{border:1px inset #DE8487;
     margin: 10px;
     border-radius:10px;}

   
 body{
      background-color: #E5E8D3;
      width: 70%;
      margin: auto;
      font-family: 'blokletters_balpenbalpen';
      
          
            }
@font-face {
    font-family: 'blokletters_viltstifviltstift';
    src: url('tipoayp/blokletters-viltstift-webfont.eot');
    src: url('tipoayp/blokletters-viltstift-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipoayp/blokletters-viltstift-webfont.woff2') format('woff2'),
         url('tipoayp/blokletters-viltstift-webfont.woff') format('woff'),
         url('tipoayp/blokletters-viltstift-webfont.ttf') format('truetype'),
         url('tipoayp/blokletters-viltstift-webfont.svg#blokletters_viltstifviltstift') format('svg');
    font-weight: normal;
    font-style: normal;

}       

@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: url('tipoayp/blokletters-balpen-webfont.eot');
    src: url('tipoayp/blokletters-balpen-webfont.eot?#iefix') format('embedded-opentype'),
         url('tipoayp/blokletters-balpen-webfont.woff2') format('woff2'),
         url('tipoayp/blokletters-balpen-webfont.woff') format('woff'),
         url('tipoayp/blokletters-balpen-webfont.ttf') format('truetype'),
         url('tipoayp/blokletters-balpen-webfont.svg#blokletters_balpenbalpen') format('svg');
    font-weight: normal;
    font-style: normal;

}     
            
 h2{color: #AB7380;
    margin-bottom:20px; }
    
  li{font-family: 'blokletters_viltstifviltstift';}  

  header{margin-top:50px;
         text-align: center;}  
  
  section{margin-top: 20px;}
  
  footer{margin-bottom: 50px;}
  
  .styledRadio {
			display: inline-block;
				}
		
 
   #cronometro{margin-left:25%;}  
  
 .number { background-color: #DE8487; 
           border-radius: 25px;             
             color:#fff;
           font-size: 15px; 
           font-weight:bold; 
            padding:20px;           
           float:left; 
           
           }
		
   .botoncronometro,.botoniniciar,#botoncorregir{
                   font-size: 12pt; 
                   background-color:#BC788A;
                   border:1px outset #DE8487;
                   color:#fff; 
                   text-decoration: none;
                   border-radius: 10px; 
                   display:inline-table; 
                   text-align: center; 
                   padding:20px; 
                   margin:5px;
                   }
  .botoncronometro:hover,.botoniniciar:hover,#botoncorregir:hover {color:#634251;
                                                                   background:#F9CE9D
                                                                   }
     
    .result{width:50px;
             height:50px;
            text-align:center;
            border-radius:30px;
            background-color: #DE8487;
            color:#fff;
            margin:5px;}
   
     #resultados,#bou-result,.marque{text-align: center;}

     @media only screen and (max-width: 845px) {
     	
     	body{width: 80%;}
     	
     	.result{display: block;
     	        margin: 1px;}
     	        
     	        
     }
     @media only screen and (max-width: 350px) {
     	html{border:none;}
     	}
 				      
 					                 		    				       
					       
